/**:
  ros__parameters:
    moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

    moveit_simple_controller_manager:
      controller_names:
        - tmr_arm_controller

      tmr_arm_controller:
        type: FollowJointTrajectory
        action_ns: follow_joint_trajectory
        default: True
        joints:
          - joint_1
          - joint_2
          - joint_3
          - joint_4
          - joint_5
          - joint_6