controller_manager:
  ros__parameters:
    update_rate: 50

    # コントローラーの名前を定義
    tmr_arm_controller:
      type: joint_state_broadcaster/JointStateBroadcaster # または position_controllers/JointGroupPositionController

tmr_arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    interface_name: position